/* font-family: 'Mea Culpa',
cursive;
font-family: 'Open Sans',
sans-serif;
font-family: 'Petemoss',
cursive;
font-family: 'Poppins',
sans-serif;
font-family: 'Ubuntu',
sans-serif; */

/* link tag */
.linkTag {
    text-decoration: none;
    color: inherit;
}

/* login register page CSS*/
.registerContainer {
    background-color: #FFEDDB;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register {
    width: 65%;
    height: 70vh;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.registerRight {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.registerLeft {
    height: 100%;
    padding: 2rem;
    flex: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginLeft {
    height: 100%;
    padding: 2rem;
    flex: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* landing page CSS */
.landingPageContainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url(../Images/bg-pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 13rem;
    display: flex;
    flex-direction: column;
}

.iconLandingPage {
    flex: 3;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1.5rem;
    margin-top: -1rem;
}

.landingText {
    flex: 6;
    width: 40%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu',
        sans-serif;
}

.landingText h2 {
    text-align: center;
    line-height: 2rem;
    padding: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.quote {
    flex: 3;
    background-color: #86C6F4;
    z-index: -1;
    width: 100%;
}

.quoteText {
    width: 44%;
    height: 100%;
    padding: auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans',
        sans-serif;
}

.iconLandingPage img {
    width: 100px;
}

.iconLandingPage h1 {
    font-size: 75px;
    font-family: 'Mea Culpa',
        cursive;
}


/* home page CSS */
.homeContainer {
    display: flex;
    height: 91vh;
}

.leftContainer {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu',
        sans-serif;
    font-weight: 600;
    margin: 0.4rem;
    padding: 1rem;
    border-right: 1.5px solid darkgray;
}

.homeLinks {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
    margin-left: -1rem;
}

.homeLinks li {
    width: 110%;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    padding: 0.6rem;
}

.homeLinks li span {
    margin-left: 1rem;
}

.activeLink {
    color: #396EB0;
}

.homeLinks li:hover {
    background-color: #e6ecf0;
    border-radius: 1.5rem;
    color: #39a2db;
}

.centerContainer {
    flex: 6.5;
    overflow: scroll;
    margin: 0.4rem;
    border-right: 1.5px solid darkgray;
}

/* .centerContainer::-webkit-scrollbar {
    display: none;
} */

.rightContainer {
    flex: 2.5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightContainer h2 {
    margin-bottom: 1rem;
    font-size: 25px;
}

.rightUser {
    display: flex;
    flex-direction: column;
}

/* profile CSS */
.profileContainer {
    display: flex;
    height: 91vh;
}

.leftProfileContainer {
    flex: 2.5;
    margin: 0.4rem;
    padding: 1rem;
    border-right: 1.5px solid darkgray;
}

.rightProfileContainer {
    flex: 2.5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightProfileContainer>p {
    font-size: 3rem;
    font-family: 'Petemoss',
        cursive;
    font-weight: 550;
    letter-spacing: 2px;
}

.profileFunctionality {
    display: flex;
    height: 35vh;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
}

/* search page CSS */
.searchForm {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.searchResults {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25%;
}