/* font-family: 'Mea Culpa',
cursive;
font-family: 'Open Sans',
sans-serif;
font-family: 'Petemoss',
cursive;
font-family: 'Poppins',
sans-serif;
font-family: 'Ubuntu',
sans-serif; */

/* login register page css*/
.registerContainer {
    background-color: #FFEDDB;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register {
    width: 65%;
    height: 70vh;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.registerRight {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.registerLeft {
    height: 100%;
    padding: 2rem;
    flex: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginLeft {
    height: 100%;
    padding: 2rem;
    flex: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* landing page css */
.landingPageContainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: url(../Images/bg-pic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 13rem;
    display: flex;
    flex-direction: column;
}

.iconLandingPage {
    flex: 3;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1.5rem;
    margin-top: -1rem;
}

.landingText {
    flex: 6;
    width: 40%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu',
        sans-serif;
}

.landingText h2 {
    text-align: center;
    line-height: 2rem;
    padding: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.quote {
    flex: 3;
    background-color: #86C6F4;
    z-index: -1;
    width: 100%;
}

.quoteText {
    width: 44%;
    height: 100%;
    padding: auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans',
        sans-serif;
}

.iconLandingPage img {
    width: 100px;
}

.iconLandingPage h1 {
    font-size: 75px;
    font-family: 'Mea Culpa',
        cursive;
}